## Conditional Statement- if, elif, else

The if statement checks if condition_1 is true. If it is, the code block indented under if is executed, and then the program moves on.

If condition_1 is false, the program checks the next condition, condition_2, after the elif keyword. If condition_2 is true, the code block under elif is executed.

If none of the conditions specified in the if and elif statements are true, the code block under the else statement is executed.

In [1]:
a = 10 
if a == 11 :
    print("this is my first condition")

In [2]:
a = 10
if a >5 :
    pass

In [3]:
a = 10 
if a <8:
    print("print this if condition is true ")

In [4]:
a = 10
if a == 11:
    print("my condition is false")
else :
    print("print this ")

print this

In [5]:
a = 10 
if a == 12 :
    print("here we are trying to compare 10 with 12")
elif a ==10:
    print("we are trying to compare 10 with 11")
else :
    print("if all the blocks wil fail then do this ")

we are trying to compare 10 with 11

In [6]:
price = 500

if price > 500 : 
    print(" may b i wont be able to buy a jacket ")
elif price < 500 :
    print("i will be able to buy a jacket")
elif  price == 500 :
    print("for sure i will be able to buy")

else  :
    print("i dont know")

for sure i will be able to buy

In [7]:
price > 500

False

In [8]:
price < 500

False

In [9]:
 price == 500

True

In [10]:
l = [1,2,3,4,5,6]
2 in l

True

In [11]:
if 60 in l :
    print("try to perform a task ")
else :
    print("do not perform this task")

do not perform this task

In [12]:
60 in l

False

In [13]:
l

[1, 2, 3, 4, 5, 6]

In [14]:
if 10 in l :
    print("thy to do a addition")
elif 2 in l :
    print("try to do sub")
elif 3 in l :
    print("try to do mul")
if 4 in l :
    print("this is new statement")

try to do sub
this is new statement

In [15]:
a = 400

In [16]:
price  = int(input())
if price  <500 :
    print("i will be able to buy something")
    if price < 400 :
        print("i will be able to buy a jacket")
    elif price < 300 :
        
        print("i will be able to buy a shirt")
        if price < 200 :
            print("i would like to do sometign")
    else :
        print("i wont be able to buy anyting")
else :
     print("i wont be able to buy anything with this price tag")
     if price >500:
        print("lets try someting else ")

200
i will be able to buy something
i will be able to buy a jacket

In [17]:
marks = int(input())
if marks < 600:
    print("NO GRE")
    if marks < 500:
        print("TOFEL")
        if marks < 400:
            print("Try something else")
    else:
        print("YOU GOT TOFEL")
else:
    print("You got GRE congratulations")

500
NO GRE
YOU GOT TOFEL

In [18]:
val  = float(input("enter a floating point number"))
if val >= 0 :
    if val == 0 :
        print("entered value is zero")
    else :
        print("enter value is a positive number ")
else :
    print("entered number is a negative number")

enter a floating point number3.6
enter value is a positive number

In [19]:
a = 10
if a <10  and a == 10 :
    print("try to do someting ")

In [20]:
a = "tejal"
if a == "tejal" or a == "tejal":
    print("this is tejal ")

this is tejal

In [21]:
a = 10 
b = 11
c = 12
d = 13
if a == 9 or b == 11 and c == 12 and d ==13:
    print("lets do something")

lets do something

In [22]:
d = {'key1' :"value" , "key2" : "tejal" , "key3" : "Ram"}

In [23]:
if d['key1'] == "value" and d['key2'] == "Sudh" and d['key3'] == "iNeuron":
    print("all the values are verified ")
    print(d.values())
else :
    print("all the values are not verified ")

all the values are not verified

In [24]:
d['key1']

'value'

In [25]:
l = [1,2,3,4,5,"tejal" ,234.45]

In [26]:
l[0]

1

In [27]:
l[1]

2

In [28]:
l[2:5]

[3, 4, 5]

In [29]:
l

[1, 2, 3, 4, 5, 'tejal', 234.45]

In [30]:
for i in l :
    if type(i) == int or type(i) == float:
        print(i+1)
    elif type(i) == str:
        print(i + str(1))

2
3
4
5
6
tejal1
235.45

In [31]:
l

[1, 2, 3, 4, 5, 'tejal', 234.45]

In [32]:
a=[9, 8,7,6,5,4,3,2,10]
for i in a :
       print(i ,end=' ')

9 8 7 6 5 4 3 2 10

In [33]:
l

[1, 2, 3, 4, 5, 'tejal', 234.45]

In [34]:
l1 = []
for i in l :
    if type(i) == int:
        l1.append(i)

In [35]:
l1

[1, 2, 3, 4, 5]

In [36]:
for a in l:
    if type(a)==int:
        print(a+1)
    elif type(a)==str:
        print(a+str(1))
    elif type(a)==float:
        print(a+float(1))

2
3
4
5
6
tejal1
235.45

In [37]:
for i in l:
    if type(i)==int  or type(i) == float:
        print(i+1)
    elif type(i)== str:    
        print(i+ str(1))

2
3
4
5
6
tejal1
235.45

In [38]:
for i in l :
    if type(i) ==  int or type(i) == float :
        print(i+1) 
    elif type(i) == str:
        print(i + str(1))

2
3
4
5
6
tejal1
235.45

In [39]:
if d['key1']=="value" and d['key2']=="amrit" and d['key3']=="ineuron":
    print ("all the values aree verified")
    print(d.value())
if d['key1']=="value" and d['key2']=="amrit" and d['key3']=="ineuron":
    print ("all the values aree verified")
    print(d.value())

In [40]:
l = [1,2,3,4,5465,67,"tejal"]

In [41]:
for i in l:
    if type(i)==str:
        if i=='d':
            break
        print(i)

tejal

In [42]:
l = [1,2,3,4,'CK',2020.12]
for i in l:
    if type(i) == int :
        print(i+1)
    elif type(i) == str:
        print(i +str(1))
    elif type(i) == float:
        print(i + float(1))

2
3
4
5
CK1
2021.12

In [43]:
a = 10 
if a < 8 :
    print("print this if condition is true")

In [44]:
a,b,c,d=10,11,12,13
####### Question 01 #######
if a==10 or b==11 and c==12 and d==113: #### Case 1
    # this is equal to a==10 or (b==11 and c==12 and d==113)
    print('lets do something 1')
if (a==10 and b==11 ) or (c==12 and d==113):  #### Case 2
    # this is equal to (a==10 and b==11) or (c==12 and d==113)
    print('lets do something 2')
if a==10 and b==11 and c==12 and d==13 or a==9:   #### Case 3
    # this is equal to (a==10 and b==11 and c==12 and d==13) or a==9
    print('lets do something 3')
if a==9 or b==11 and c==12 and d==13:   #### Case 4
    print('lets do something 4')
############# Question 2 #########
# What is the difference between:
print(type(a) == int)
print(type(a) is int)

lets do something 1
lets do something 2
lets do something 3
lets do something 4
True
True

In [45]:

type(a) == int

True

In [46]:
a

10

In [47]:
type(a) is int

True

In [48]:
l = [0,0,0,0,0,0,0,1324,0,0,0,0,0]

for i in l:
    if i > 0 :
        print("We have an active alarm Number:",i)         
else:
    print ("No alarm")

We have an active alarm Number: 1324
No alarm

In [49]:
l=[1,2,3,4,5,"tejal",234.45]

a=0
l1=[]
for i in l:
    if type(i) == int:
          l1 = l1 + [i]
print(l1)

[1, 2, 3, 4, 5]

In [50]:
l1

[1, 2, 3, 4, 5]

In [51]:
for i in l :
    if type(i) == int or type(i) == float :
        print(i+1)
    elif type(i) == str :
        print(i + str(1))

2
3
4
5
6
tejal1
235.45

In [52]:
for i in l :
    if type(i) == int or type(i) == float :
        print(i+1)
    elif type(i) == str :
        print(i+ str(1))

2
3
4
5
6
tejal1
235.45

In [53]:
price = int(input("enter an integer"))
if price < 5000 :
    print("I can buy a Jacket")
elif price > 5000 and price <= 10000 :
    print("I can buy a shirt and Jacket")
elif price > 10000 :
    print("I can buy 2 pairs")
else :
    print("leave it")

enter an integer11111
I can buy 2 pairs

In [54]:
l=[[2,56,43],['sad','sad',234,'forty','rest',734],[2-8j,3.065,7,'tinku'],'welcome']
l.insert(2,[12,39,67])

print(l,'\n')
print('Q1')
for i in l :
    if type(i) == list :
        
        for j in range(len(i)) :
            if type(i[j]) == str :
                print('Sublist :',i,'\n','index= ',j,', value = ',i[j],'\n')
                
print(l,'\n' )
print('Q2')
for i in l :
    if type(i) == list :
        for j in range(len(i)) :
            if type(i[j]) == str :
                i[j]=' '
                
                
print('final list after removing all str in nested list:',l)

[[2, 56, 43], ['sad', 'sad', 234, 'forty', 'rest', 734], [12, 39, 67], [(2-8j), 3.065, 7, 'tinku'], 'welcome']

Q1
Sublist : ['sad', 'sad', 234, 'forty', 'rest', 734]
 index=  0 , value =  sad

Sublist : ['sad', 'sad', 234, 'forty', 'rest', 734]
 index=  1 , value =  sad

Sublist : ['sad', 'sad', 234, 'forty', 'rest', 734]
 index=  3 , value =  forty

Sublist : ['sad', 'sad', 234, 'forty', 'rest', 734]
 index=  4 , value =  rest

Sublist : [(2-8j), 3.065, 7, 'tinku']
 index=  3 , value =  tinku

[[2, 56, 43], ['sad', 'sad', 234, 'forty', 'rest', 734], [12, 39, 67], [(2-8j), 3.065, 7, 'tinku'], 'welcome']

Q2
final list after removing all str in nested list: [[2, 56, 43], [' ', ' ', 234, ' ', ' ', 734], [12, 39, 67], [(2-8j), 3.065, 7, ' '], 'welcome']

In [55]:
#3. Write a Python program to display calendar?

import calendar
n=int(input('Type 1 for monthly calendar or Type 2 for yearly calendar'))

if n==1 :
    yy=int(input('Enter the Year: '))
    mm=int(input('Enter the month number: '))
    print(calendar.month(yy,mm))
elif n==2:
    yy=int(input('Enter the Year: '))
    for m in range(1,13):
        print(calendar.month(yy,m))
        
#Doubt: Can i change the layout of the o/p?for example, 3 months in a row

Type 1 for monthly calendar or Type 2 for yearly calendar2
Enter the Year: 2001
    January 2001
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

   February 2001
Mo Tu We Th Fr Sa Su
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28

     March 2001
Mo Tu We Th Fr Sa Su
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29 30 31

     April 2001
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30

      May 2001
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30 31

     June 2001
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30

     July 2001
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30 31

    August 2001
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30 31

   September 2001
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30

    October 2001
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

   November 2001
Mo Tu We Th Fr Sa Su
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29 30

   December 2001
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30
31

In [56]:
Marks = int(input())
if Marks > 600 :
    print("I am pass in GRE")
elif Marks<600 or Marks>=500:
        print("I am pass in TOFEL")
elif Marks<=500 or Marks>=400:
        print("I am pass in Python")
else :
    print("please try further examination")

550
I am pass in TOFEL

In [57]:
marks = int(input())

if marks < 600:
    print('No Gre admission')
    if marks < 500:
        print('TOEFL')
    elif marks < 400:
        print('try something else')
    else:
        print('got ')
else:
    print('gre admission')

350
No Gre admission
TOEFL

In [58]:
l = [3,4,5,6,7 , [23,456,67,8,78,78] , [345,56,87,8,98,9] , (234,6657,6) , {"key1" :"sudh" , 234:[23,45,656]}]

l[-1]['key1']

'sudh'

In [59]:
l=[1,2,3,4,5,"sudh",23.55]
l1 = []
for i in l:
    if type(i)==int:
        l1.append(i)

In [60]:
l1

[1, 2, 3, 4, 5]

In [61]:
a=10
b=11
c=12
d=12
if a==9 or (b==11 and c==12 and d==13):
    print("lets do something")
else :
    print("nothing ")

nothing

In [62]:
d ={"key1": "value", "key2":"sudh","key3":"ineuron"}
if d['key1'] == "value" and d['key2'] == "sudh" and d['key3'] == "ineuron":
    print("all the values are verified")
    print(d.values())

all the values are verified
dict_values(['value', 'sudh', 'ineuron'])

In [63]:
l = [{'key1': 'sudh', 234: [23, 45, 656]},
 (234, 6657, 6),
 [345, 56, 87, 8, 98, 9],
 [23, 456, 67, 8, 78, 78],
 7,
 6,
 5,
 4,
 3]

In [64]:
list(l[0].keys())

['key1', 234]

In [65]:
for i in l :
    if type(i) == dict :
        print(list(i.keys()))

['key1', 234]

In [66]:
test_list = [3, 5, 6, 8, 10]
  
# printing original list
print("The original list : " + str(test_list))
  
# using list comprehension
# Finding missing elements in List
res = [ele for ele in range(max(test_list)+1) if ele not in test_list]
  
# print result
print("The list of missing elements : " + str(res))

The original list : [3, 5, 6, 8, 10]
The list of missing elements : [0, 1, 2, 4, 7, 9]

In [68]:
d={'key1':"surendra", 'key2':"sudh", 'key3':"ineuron"}

d.values()

dict_values(['surendra', 'sudh', 'ineuron'])

In [70]:
price = int(input())
if price < 500:
    print("i will be able to buy somthing")
    if price < 300 :
        print("i will be able to buy a shirt")    
    elif price < 400 :
        print("i will be able to buy a jacket")
        if price < 200 :
            print("i would like to do somthig")
    else :
        print("i wont be able to buy anything")
else :
    print("i wont be able to buy anything with this price tag")
    if price > 500:
        print("lets try something else")

450
i will be able to buy somthing
i wont be able to buy anything

In [72]:
marks=int(input())
if marks>600:
    print('i would get admission in GRE')
elif marks< 600:
    print("no GRE")
    if marks< 500:
        print("ToFEl")
    elif marks<400:
        print("try something else")

450
no GRE
ToFEl

In [73]:
a = "Tejal"
if a == "Tejal" or a == "Tejal":
    print (" this is Tejal")
else:
    print ("nothing")

 this is Tejal

In [76]:
i = int(input())
if type(i) == int : 
    print("int")
if type(i) == float : 
    print("float") 
else :
    print ("invalid")

4
int
invalid

In [78]:
travel_allowance=int(input()) 
if travel_allowance>1000 :
    print ("you can use petrol cab")
elif travel_allowance < 500 :
    print (" you can use metro train service")

450
 you can use metro train service

In [79]:
x=int(input("Enter the marks  "))
if x<600:
    print("no gre")
elif x<500 or x>400:
    print("tofel")
elif x<400:
    print("try something else")
else:
    print("you got tofel")

Enter the marks  580
no gre

In [80]:
x = 100
y = 100
x is y

True

In [81]:
z = 1000
m = 1000
m is z

False

In [82]:
l = [1,2,3,4,5]

In [83]:
sum(l)

15

In [84]:
t = ("a", 658, "sudh", 23.45)

In [85]:
val = float(input("Enter a floating point number "))

if val >=0:
    if val ==0:
        print("Entered value is zero")
    elif val < 0:
        print("Number is smaller than zero")
    else:
        print("Entered values is positive number")
else:
    print("None")

Enter a floating point number 3.6
Entered values is positive number

In [87]:
d = {"a":200,"b":300}
s =sum(d.values())
print("sum",s)

sum 500

In [88]:
def number(i):
    if type(i) == int:
        print("this is an interger")
    elif type(i) == float:
        print("this is a float")
    else:
        print("Invalid")

number(5)

this is an interger

In [89]:

m=int(input())
if m>600:
    print("I will be able to clear Gre")
elif m<=600:
    print("Didn't clear Gre")
    if m<500 and m>=400:
        print("Tofel")
    elif m<400:
        print("try something else")

460
Didn't clear Gre
Tofel